torch
torchvision
transformers
langchain
accelerate
bitsandbytes
pandas
numpy
matplotlib
seaborn
scikit-learn
streamlit
pillow
captum
sentence-transformers
pypdf
pydicom
rank_bm25
celery
redis
pynetdicom
prometheus_client
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
boto3
boto3-stubs
python-json-logger
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-celery
authlib
